/*
 * Author: Kylee Dicken
 * Date: 3/29/2022
 * Name: styles.css
 * Description: styles sheet
 */

@font-face {
    font-family: FreeMono, monospace;
}

/* BASIC STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: FreeMono, monospace;
    margin-bottom: 16px;
}

a,
input,
label,
button {
    font-family: FreeMono, monospace;
}

button {
    padding: 14px 40px;
    margin: 20px auto 0 auto;

    color: white;
    font-size: medium;

    background-color: steelblue;
    border: transparent;
}

button:hover {
    background-color: crimson;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

/* HEADER STYLES */
header {
    min-height: 60px;
    width: 100%;
    padding: 10px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;

    background-color: transparent;
}

header a {
    margin-right: 40px;

    font-size: large;
    text-decoration: none;
    text-transform: lowercase;
}

header a:hover {
    color: crimson;
}

.header-space {
    height: 60px;
}

/* HOME PAGE */
#hero {
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    background-color: steelblue;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 85%),  url(../img/hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero h1 {
    margin-bottom: 180px;

    font-size: xxx-large;
    text-transform: lowercase;
    color: white;
}

#section {
    min-height: 50vh;
    width: 100%;
    padding: 20px 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

/* SEARCH */

#search {
    padding: 2% 6%;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: white;
}

.search-flight {
    width: 100%;
    flex-wrap: wrap;
}

.search-home {
    height: 350px;
    width: 700px;
    margin-bottom: 80px;

    /*border-bottom: lightgrey 2px solid;*/
}

#search .section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#search .sub-section {
    width: 30%;
}

#search .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#search .row .input {
    display: flex;
    flex-direction: column;
}

#search label {
    margin-bottom: 16px;
    color: steelblue;
}

#search input {
    padding: 4px 6px;
    margin-bottom: 40px;

    border: transparent;
    border-bottom: lightgrey 1px solid;
}

#search .destination-input {
    width: 140px;
}

/* FLIGHTS PAGE */

#flights {
    min-height: 80%;
    width: 100%;
    margin: 40px 0 100px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#flights .flight {
    min-width: 60%;
    padding: 40px 60px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;

    border-bottom: lightgrey 1px solid;
}

#flights .flight:hover {
    background-color: lightgrey;
}

.flight-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flight-airline {
    font-size: large;
}

.flight-destination {
    font-size: x-large;
}

.flight-availability {
    margin-bottom: 0;
}

.flight-times {
    font-size: large;
    margin-bottom: 16px;
}

.flight a {
    color: steelblue;
    text-decoration: none;
}

.flight-title {
    font-size: xx-large;
    color: steelblue;
}

/* FLIGHT DETAILS */
#flight-details {
    width: 100%;
    height: 110vh;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    background-color: steelblue;
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 85%),  url(../img/hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#flight-details .flight-details-section {
    height: 80%;
    width: 80%;

    padding: 4% 10%;

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: white;
}

    /* FOOTER STYLES */
footer {
    min-height: 50vh;
    width: 100%;
    padding: 20px 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
    text-decoration: none;
    text-align: center;

    background-color: steelblue;
}